@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply font-light
}

h1 {
  @apply font-medium text-lg
}
h2 {
  @apply font-medium text-base
}
h3{
    @apply font-medium text-sm
}
h4 {
  @apply font-medium text-xs
}
ul {
  @apply list-disc list-inside
}
li {
  @apply mb-2
}

a {
  @apply text-[#8882FF]
}