@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

body {
  font-family: "Geist", serif;
  font-optical-sizing: auto;
  font-style: normal;
  @apply font-light
}

h2 {
  @apply font-medium
}

.sidebar_card {
  @apply bg-white rounded-lg shadow-md p-4 m-2 mt-4
}